body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	font-size: 14px;
}
/* normal styling */
input, textarea {
	padding: 8px 0px 9px 0px;
	font-size: 13px;
	color: #333;
	vertical-align: middle;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right center;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: 0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
}
input:focus, textarea:focus {
	outline-offset: 0px
}
.btn, button {
	padding: 5px;
	color: black;
	border-radius: 5px;
	background: white;
}
button:active, .btn:active {background: #b6b6b6 !important;}
button:hover, .btn:hover {background: #d6d6d6;}
select:hover, select:focus-within {
	outline: none;
	background: #b7c6ca;
	background-image: linear-gradient(white, #fbfdfd, #b7c6ca);
}
button:disabled {opacity: 0.5;}
h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
	-webkit-user-drag: none;
	user-drag: none;
}
table {
	border-collapse: collapse;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.relative, .rel {
	position: relative;
	width: 100%;
	height: 100%;
}
.abs, .absolute {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.cen, .center {
	text-align: center;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none; /* Prevents dragging of images/divs etc */
	user-drag: none;
}
.bodyAnimating {
	overflow: hidden;
}
.opaque {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
}

/* pms */
.pms {
	position: absolute;
	top: 140px;
	left: 303px;
	width: 300px;
	height: 200px;
	z-index: 10001;
	display: none;
	box-shadow: 9px 3px 25px rgb(0, 0, 0);
}
.pmers {
	position: absolute;
	bottom: 100%;
	width: 100%;
	outline: 1px solid #2D2D2D;
}
.focusedPM {
	background: black !important;
	opacity: 1 !important;
}
.newPM {
	background: rgb(148, 96, 0) !important;
}
.pmer {
	height: 25px;
	background: rgb(33, 33, 33);
	padding-top: 4px;
	padding-left: 9px;
	cursor: pointer;
	color: silver;
	font-weight: bold;
	border-bottom: 1px solid rgb(48, 48, 48);
	opacity: 0.75;
}
.pmer span {
	float: right;
	margin-right: 8px;
	color: black;
	background: white;
	border-radius: 10px;
	width: 15px;
	text-align: center;
	font-size: 13px;
}
.pmer span:hover {
	background: rgb(130, 0, 0);
	color: white;
}
.pmlogs {
	height: 166px;
	width: 100%;
	background: white;
	overflow-y: scroll;
}
.pmmessage {
	width: 100%;
}

/* chat */
#homeScreen {
	width: 100%;
	height: 100%;
	background: white;
}
#content {
	width: 100%;
	height: 50%;
	position: relative;
	overflow: hidden;
}
#leftSide, #rightSide {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 50%;
	outline: 1px solid #b6b6b6;
}
#leftSide {
	left: 0;
}
#rightSide {
	right: 0;
	background: #e6e6e6;
	outline: 1px solid #b6b6b6;
}
footer {
	position: absolute;
    bottom: 2px;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 1em;
}
.header {
	height: 50px;
	background: rgb(27, 27, 27);
}
.header h1 {
	padding-top: 8px;
	margin-left: 5px;
}
.header h1 a {
	color: white;
	text-shadoW: 2px 2px 0px rgb(83, 19, 19);
	transition: color 0.2s ease-in-out;
}
.header h1 a:hover, .header h1 a:active {color: #daa5a5;}
.header h1 a {text-decoration: none;}
.options {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0;
    background: #d50039;
    background-image: linear-gradient(#d50039, #dd5378, #8f6666);
    outline: 1px inset white;
    cursor: pointer;
    font-size: 3em;
	text-align: center;
	transition: all 0.2s ease-in-out;
}
.options:active {
    background-image: linear-gradient(#d50039, #dd5378, #8f6666) !important;
}
.options:hover {
    background-image: linear-gradient(#8f6666, #dd5378, #d50039);
	color: white;
}
.optionsMenu {
	position: absolute;
	top: 50px;
	right: 0;
	width: 50%;
	height: 0px;
	background: rgba(218, 51, 96, 0.93);
	outline: 1px solid black;
	z-index: 1;
	display: none;
	opacity: 0;
}
.chat, .roomsMenu {
	width: 100%;
	height: 300px;
	position: relative;
	background: rgb(140, 140, 140);
	outline: 1px solid #b6b6b6;
	display: block;
}
.roomsMenu {display: none;text-align: center;}
.roomsMenu h2 {
    background: #d4d4d4;
	color: #652e2e;
}
.roomsMenu .room {
    width: 380px;
    min-height: 50px;
    margin-top: 0;
    display: inline-block;
    margin: 2px 7px 4px;
    padding: 1px 4px 2px;
    border: 1px solid #bcd;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    color: #933;
    cursor: pointer;
    font-size: 10pt;
    overflow: hidden;
}
.roomsMenu .room:hover {
    background: #af6866;
	color: white;
}
.roomTitle {
	font-size: 12pt;
}
.logs {
	float: left;
	height: 260px;
	width: 350px;
	background: rgb(232, 232, 232);
	overflow-y: scroll;
}
.logs div {
	padding: 4px 0px 2px 0px;
	margin-left: 5px;
}
.highlight {
	background-color: #FFDDAA;
}
.users {
	float: left;
	width: 150px;
	height: 100%;
	background: rgb(177, 177, 177);
	font-weight: bold;
	overflow: auto;
}
.users div {
	padding: 5px;
	border-bottom: 1px solid grey;
	cursor: pointer;
}
.users div:hover {
	background: silver;
}
#userdetails {
	margin-left: 10px;
	width: 170px;
	text-align: center;
	box-shadow: 4px 4px 14px rgb(0, 0, 0);
	z-index: 10002;
}
#userdetails button {
	margin-bottom: 3px;
}
.input {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 350px;
}
.input .message {
	height: 30px;
	width: 100%;
	resize: none;
	margin: 0;
	margin-top: 5px;
	padding: 0px;
	font-size: 16px;
	font-family: times new roman;
	outline: none;
	border: none;
}
.rooms {
	height: 37px;
	width: 100%;
}
.rooms div {
	width: auto;
	height: 30px;
	margin-top: 5px;
	margin-right: 1px;
	background: rgb(145, 145, 145);
	padding-left: 15px;
	padding-right: 37px;
	float: left;
	border: 1px solid rgb(130, 130, 130);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	position: relative;
	max-width: 120px;
	overflow: hidden;
	opacity: 0.75;
}
.rooms .selectedRoom {
	opacity: 1;
	border-top: none;
	padding-bottom: 1px; /* to undo removing the top border */
}
.rooms div h4 {
	font-weight: bold;
	font-size: 16px;
	padding: 0;
	margin: 0;
	margin-top: 8px;
}
.rooms .rel span {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 0.75;
	background: black;
	border-radius: 10px;
	padding: 3px;
	margin: -3px;
	color: white;
}
.rooms .rel span:hover, .rooms .rel span:active {
	background: rgb(130, 0, 0);
}
#roomadd {
    width: auto;
    height: auto;
    background: #333;
    padding: 2px 5px;
    border: none;
    font-size: 20px;
	color: #fff;
	font-weight: bold;
    opacity: 1;
    margin-left: 1px;
    margin-top: 7px;
    border-radius: 5px;
    text-shadow: 0 1px 0 #fff;
}
#roomadd:hover {
    background: #8c8c8c;
    box-shadow: 1px 1px 1px black;
}
.userbar {
	background: #fff;
	border: 1px solid #a5a5a5;
	padding: 3px;
	margin: -3px;
	position: absolute;
	top: 14px;
	right: 64px;
	font-weight: bold;
	border-radius: 10px;
	cursor: default;
}
.userbar button {
	margin-top: -4px;
}

.opaqueness {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
}
.popup {
	position: absolute;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	text-align: left;
	background: rgb(227, 227, 227);
	color: black;
	border: 1px solid #999999;
	padding: 2px 10px;
	z-index: 99999;
}
.opaqueness .popup {
	position: static;
	margin: 80px auto 20px auto;
	max-width: 320px;
}
.opaqueness .popup p {
	margin: 7px 0;
}
.opaqueness .popup label {
	width: 210px;
	margin: 0 auto;
	font-weight: bold;
	display: block;
}
.opaqueness .popup input {
	width: 200px;
}
.opaqueness .popup .buttons {
	text-align: center;
	margin-bottom: 5px;
}
.err {
	font-weight: bold;
	color: red;
}
#challenges {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 9000;
}
.challenge {
	width: 300px;
	background: rgb(255, 207, 93);
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 1px black;
	text-align: center;
}
.challenge hr {
	border-top: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}
.challenge select {
	margin-bottom: 2.5px;
	height: 30px;
	width: 200px;
}
.username {
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
}
.search {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 150px;
	margin-left: -150px;
	margin-top: -75px;
	background: #3d3232;
	text-align: center;
	color: white;
	z-index: 99999;
}
.search select {
	color: black;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px;
	margin-left: 10px;
}
.search label {
	width: 75px;
	display: inline-block;
	text-align: right;
	font-size: 20px;
}
