#game {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	left: -100%;
	cursor: default;
	display: none;
}
#builder {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
	display: none;
}
#duels {
	color: rgb(188, 188, 188);
	overflow-y: auto;
}
#duels h2 {
	margin: 0;
	color: rgb(77, 77, 77);
}
#duels .gameDiv {
	outline: 1px solid rgb(137, 137, 137);
	margin: 3%;
	padding: 2%;
	cursor: pointer;
	background: rgb(114, 114, 114);
	display: block;
	color: rgb(188, 188, 188);
}
#duels .gameDiv:hover {
	text-decoration: none;
	background: rgb(62, 62, 62);
}
#counter {
	cursor: move;
}
.counter {
	position: absolute;
	background: red;
	border: 1px dashed white;
	border-radius: 20px;
	box-shadow: 5px 10px 20px black;
	z-index: 301;
	left: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	color: white;
	font-size: 30px;
	line-height: 44px;
	cursor: move;
}
#oppSide .counter {
	right: 0;
	top: 0;
	bottom: auto;
	left: auto;
}
#duels h3 {
	color: white;
	padding: 0;
	margin: 0;
}
.row {
	height: 100%;
	float: left;
}
/* outline */
.o {
	background: rgba(0, 0, 0, 0.5);
	outline: 1px solid white;
	text-align: center;
	position: relative;
	/* background: rgba(255, 255, 255, 0.05); */
}
.o img {
	height: 100%;
}
.middleOptions {
	float: left;
	width: 100%;
	height: 33%;
	position: relative;
}
.selectablePhase, .selectedPhase {
	background: rgba(123, 123, 123, 0.3);
	opacity: 1 !important;
}
.phases {
	width: 100%;
	height: 29px;
}
.phase {
	width: 12.5%;
	height: 100%;
	margin-top: 5px;
	margin-left: 1.19%;
	float: left;
	text-align: center;
	color: white;
	text-shadow: 0.05em 0.05em grey;
	font-weight: bold;
	line-height: 29px;
	opacity: 0.3;
}
#nextTurn {
	width: 17.69%;
	margin-left: 0;
	background: red;
	overflow: hidden;
	opacity: 0.3;
}
#nextTurn:hover, #nextTurn:active {
	background: rgb(211, 0, 0) !important;
}
.selectablePhase:hover, .selectablePhase:active {
	background: rgb(66, 66, 66) !important;
}
.selectedPhase {
	background: rgb(123, 123, 123) !important;
}
.selectablePhase {
	cursor: pointer;
}
/* defense cards on your side of the field */
.defense, .faceupdefense, .facedowndefense {
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* Internet Explorer */
	-moz-transform:rotate(-90deg); /* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
	-o-transform:rotate(-90deg); /* Opera */
	/* left: 12px !important; */
}
/* defense cards on opponents side of the field */
.v.defense, .v.faceupdefense, .v.facedowndefense {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* Internet Explorer */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
	/* left: 12px !important; */
}
.h {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.v {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}
.vh {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}
#youhand, #opphand {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 18%;
	text-align: center;
	overflow: hidden;
	z-index: 1;
}
#opphand {
	bottom: auto;
	top: -9%;
}
#youhand {
	bottom: 0%;
}
#youhand img, #opphand img {
	height: 100% !important;
	width: auto !important;
	margin-left: -3%;
}
#youhand img {
	margin-top: 3.5%;
}
.risenCard {
	margin-bottom: 3.5%;
	margin-top: 0% !important;
}
#youhand img:hover {
	margin-bottom: 3.5%;
	margin-top: 0;
	-webkit-animation: cardrise 0.25s;
	animation: cardrise 0.25s;
}
@-webkit-keyframes cardrise {
	from {margin-bottom: 0%;}
	to {margin-top: -3.5%;}
}
@keyframes cardrise {
	from {margin-bottom: 0%;}
	to {margin-top: -3.5%;}
}
.selectedHandCard {
	margin-bottom: 3.5% !important;
	margin-top: 0 !important;
}
#youpoints, #opppoints {
	position: absolute;
	top: 4%;
	left: 0%;
	width: 100%;
	height: 57px;
	text-align: center;
	text-shadow: 0.05em 0.05em black;
	outline: none;
	font-weight: bold;
	background: rgb(6, 15, 49);
	border-radius: 20px;
  font-size: 10px;
  color: rgb(174, 174, 174);
  padding-top: 10px;
}
#youpoints small, #opppoints small {
	font-size: 12px;
	display: block;
	margin-top: 5px;
	color: rgb(100, 100, 100);
}
#youpoints {
	left: auto !important;
	right: -2px !important;
  bottom: 10%;
  top: auto;
}
#opppoints {
	background: rgb(100, 15, 6);
}
#youpoints span, #opppoints span {
	color: white;
	font-size: 12px;
	display: block;
}

/* game cells / zones separation and sizing */
.fieldZone {
	width: 20%;
}
.threeVerticalZones {
	height: 100%;
	width: 13.5%;
}
.singleVerticalZone {
	width: 100%;
	height: 33.3333333%;
}
.fieldHandSpacer, .fieldHandSpacer2 {
	height: 5%;
	width: 100%;
}
.fieldHandSpacer2 {
	height: 10%;
}
.fieldContainer {
	height: 42.5%;
	width: 100%;
}
.monsterSpellZones {
	height: 75%;
	width: 73%;
	margin-top: 5%;
}
.monsterSpellZonesDivison {
	width: 100%;
	height: 50%;
}
.oppBanishedZone, .youBanishedZone {
	height: 14.166666%;
	width: 100%;
	position: absolute;
	top: 33.5%;
	left: -3px;
}
.youBanishedZone {
	top: 47.5%;
	left: 3px;
}
.mainTable {
	width: 56%;
	position: relative;
}
.banishedColumn {
	width: 7%;
	position: relative;
}
.youredpendulum, .oppredpendulum {
	outline: 1px solid red;
}
.youbluependulum, .oppbluependulum {
	outline: 1px solid blue;
}
.dropTarget {
	background: rgba(255, 255, 255, 0.5);
}
.deckCount {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.deckCount span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 34px;
	height: 42px;
	margin-top: -21px;
	margin-left: -17px;
	font-size: 30px;
	color: white;
	text-shadow: 1px 3px 4px black;
	text-align: center;
}
#youdeck, #youextra, #youbanished, #oppbanished, #yougrave, #oppgrave {
	cursor: pointer;
	z-index: 2;
}
#coinFlip, #rollDice, #token {
	cursor: pointer;
}
.prompt {
	width: 485px;
	height: 150px;
	margin-left: -242.5px;
	margin-top: -75px;
	left: 50%;
	top: 50%;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 100px;
}
.prompt h2 {
	color: white;
	text-align: center;
}
.prompt img {
	height: 138px;
	margin-left: 50px;
	margin-top: 5px;
	opacity: 0.75;
	cursor: pointer;
}
.prompt img:hover {
	opacity: 1;
}
.promptOpaqueness {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
}
.rps {
	font-family: Courier;
	font-weight: bold;
	font-size: 18px;
	background: rgba(20, 20, 20, 0.95);
	width: 465px;
	height: 175px;
	left: 50%;
	top: 50%;
	margin-left: -232.5px;
	margin-top: -87.5px;
	outline: 1px dashed white;
	z-index: 2;
	cursor: default;
}
.rps img {
	height: 90%;
	opacity: 0.5;
	margin-left: 7.5%;
	margin-top: 1.5%;
}
.rps div:hover {
	opacity: 1;
}
.rpstitle {
	position: absolute;
	left: 50%;
	top: -11%;
	background: white;
	color: red;
	text-shadow: 0.05em 0.05em black;
	height: 30px;
	width: 210px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -15px;
	margin-left: -105px;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
}
#whoGo {
	height: 100px;
	margin-top: -50px;
	top: 50%;
	z-index: 2;
	text-align: center;
}
#whoGo  button {
	height: 100px;
	width: 200px;
	margin-right: 50px;
	font-size: 30px;
	font-family: fantasy;
	color: white;
	background: #0078e7;
	text-transform: uppercase;
	border-radius: 2px;
	outline: none;
}
#whoGo button:hover {
	background: #0462B9;
}
.contextMenu {
	position: absolute;
	z-index: 9999;
	background: white;
	cursor: default;
}
.contextMenu div {
	padding-left: 5px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	border-top: 1px dashed #909090;
	overflow: hidden;
	width: 100%;
	white-space: pre;
	font-size: 12px;
}
.contextMenu div:first-child {
	border-top: none;
}
.contextMenu div:hover {
	background: grey;
	color: white;
}
.status {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	z-index: 1;
	text-shadow: 2px 2px rgb(0, 18, 255);
	font-size: 38px;
	color: rgb(0, 144, 255);
	z-index: 301;
}
#oppstatus {
	bottom: 59%;
}
#youstatus {
	top: 57%;
}
.viewList {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 360px;
	z-index: 9999;
}
.viewListTitle {
	height: 40px;
	background: white;
	text-align: center;
	width: 400px;
	max-width: 100%;
	font-size: 25px;
	margin: auto;
}
.cardList {
	background: rgba(255, 255, 255, 0.75);
	width: 100%;
	height: 320px;
	overflow-y: scroll;
}
.closeList {
	cursor: pointer;
	color: red;
	background: white;
	position: absolute;
	right: -5px;
	top: 35px;
	border-bottom: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	padding: 5px;
	font-weight: bold;
	width: 30px;
	text-align: center;
}
.closeList:hover, .closeList:active {
	text-shadow: 1px 1px black;
}
.cardList img {
	width: 10.5%;
	margin: 1%;
	margin-bottom: 0;
}
.fieldZone span {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	text-shadow: 2px 2px black;
	font-size: 18px;
	font-weight: bold;
	z-index: 300;
	max-height: 50%;
	overflow: hidden;
}
.highestCardZindex {
	/*
		- this is a class for youhand so that when you
			hover over it the card isn't covered by the
			.fieldZone span (which contains atk/def info
			for a zone) and so it isn't covered by the
			deckCounts
	*/
	z-index: 301 !important;
}
#oppSide .fieldZone span {
	bottom: auto;
	top: 0;
}

/* left panel stuff */
#leftPanel {
	width: 30%;
	text-align: center;
}
.cardDescription {
	height: 30%;
	min-height: 200px;
	width: 95%;
	margin: 2%;
	outline: 1px solid #b6b6b6;
	overflow-y: scroll;
	text-align: left;
	background: rgb(231, 231, 231);
}
.changePoints {
	width: 100%;
}
.gaining {
	background: green !important;
}
.losing {
	background: red !important;
}
.plusPoints {
	background: rgb(200, 255, 200) !important;
}
.minusPoints {
	background: rgb(255, 200, 200) !important;
}
.resultButtons button {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 1%;
	max-width: 33%;
}
.resultButtons img {
	max-width: 25%;
}
.gameChat {
	width: 100%;
	height: 300px;
}
.gameLogs {
	position: absolute;
	top: 1%;
	left: 1%;
	width: 98%;
	height: 88%;
	background: #212121;
	overflow-y: scroll;
}
.gameLogs div {
	color: white;
	text-align: left;
	margin: 5px;
	margin-bottom: 0;
	margin-top: -3px;
}
.gameLogs div:first-child {
	margin-top: 2px;
}
.gameLogs div b {
	color: rgb(183, 183, 183);
}
.gameInput {
	position: absolute;
	bottom: 1%;
	left: 1%;
	width: 98%;
	background: rgb(49, 49, 49) !important;
	color: white !important;
}
.cardName:hover {
	cursor: pointer;
	text-decoration: underline;
}
.targetedCard {
	outline: 2px dashed red;
	-webkit-animation: targetCardAnim 0.5s infinite;
	animation: targetCardAnim 0.5s infinite;
}
@-webkit-keyframes targetCardAnim {
	0%, 100% {outline-color: red;outline-width: 2px;}
	50% {outline-color: darkred;outline-width: 4px;}
}
@keyframes targetCardAnim {
	0%, 100% {outline-color: red;outline-width: 2px;}
	50% {outline-color: darkred;outline-width: 4px;}
}
.attackableZone {
	cursor: pointer;
}
.newMode {
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
.ladder table, .ladder td, .ladder th {
	border-collapse: collapse;
	border: 1px solid #BBBBBB;
}
.ladder td, .ladder th {
	padding: 3px 5px;
}
#leaderboard {
	position: absolute;
	z-index: 10000;
	width: 350px;
	height: 300px;
	background: white;
	outline: 1px solid #b6b6b6;
	box-shadow: 10px 10px 23px black;
}
#leaderboard h1 {
	padding: 5px;
	margin-bottom: 0px;
	background: black;
	color: white;
	text-align: center;
	cursor: pointer;
	height: 35px;
	line-height: 25px;
}
#leaderboard select {
	font-size: 20px;
	width: 100%;
	padding: 5px;
	height: 35px;
}
#leaderboard .ladder {
	width: 100%;
	height: 220px;
	overflow-y: scroll;
}
#leaderboard table {
	width: 100%;
}
#leaderboard .exit {
	position: absolute;
	top: -3px;
	right: -13px;
	margin-right: 8px;
	color: black;
	background: white;
	border-radius: 10px;
	width: 21px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	padding: 3px;
	font-weight: bold;
}
#leaderboard .exit:hover {
	color: red;
}
.sidingContainer {
	position: absolute;
	top: 0;
	left: 30%;
	width: 63%;
	height: 100%;
	z-index: 9999;
}
.sidingContainer .deckContainer {
	background: rgba(124, 124, 124, 0.5);
	outline: 1px solid black;
	box-shadow: 12px -16px 18px black;
	overflow: hidden;
}
.sidingContainer .deckContainer div {
	float: left;
	width: 8.666667%;
	height: 100%;
	margin-right: -2%;
}
.sidingContainer #deck div {
	width: 8.3333333%%;
	height: 20%;
	margin-right: 0;
}
.sidingContainer #deck {
	height: 71.42857143%;
}
.sidingContainer #extra, .sidingContainer #side {
	height: 14.285714286%;
}
.sidingContainer .deckContainer div img {
	height: 100%;
	width: auto;
}
.sidingContainer h2 {
	position: absolute;
	left: -100px;
	width: 100px;
	text-align: left;
	padding: 5px;
	background: rgb(246, 28, 37);
	color: white;
	outline: 1px solid #373535;
}
#doneSiding {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 7%;
	height: 100px;
	z-index: 9999;
	font-size: 23px;
	white-space: normal;
}
